<html>
  <head>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBxRP7f6B-IZithOjDT5t2KpH8OH3KqDFE&sensor=false&language=es&region=UY">
    </script>
    <script type="text/javascript">
        losBarrios = <%= @barrios.to_s.html_safe %>;
        console.log(losBarrios);
    </script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    
  </head>
  <body onload="initialize()">
    <div class="addressboxes">
    <%= form_tag do %>
      <div class = "direccionBox">
      <%= label_tag(:direccion, "Direccion") %>
      <%= text_field_tag(:direccion) %>
      </div>
      <div class= "codPostBox">
      <%= label_tag(:codigo_postal, "Codigo Postal") %>
      <%= text_field_tag(:codigo_postal) %>
      <%= submit_tag("Buscar") %>
      </div>           
    <% end %>
    </div>
    <div id="map_canvas" style="width:100%; height:100%"></div>
  </body>
</html>
 