<!DOCTYPE html>
<html>
<head>
  <title>Quienmandaaca</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="title">
		<h2>Welcome to Quien Manda Aca!</h2>
	</div>
		<iframe src="https://www.facebook.com/plugins/like.php?href=http://quienmandaaca.com"
    		scrolling="no" frameborder="0"
    		style="border:none; width:450px; height:30px; float:right; padding-top:10px;">
    	</iframe>
	<%= yield %>

</body>
</html>
